@font-face {
  font-family: "Garamond";
  src: url("./assets/fonts/garamond/EBGaramond-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("./assets/fonts/garamond/EBGaramond-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("./assets/fonts/garamond/EBGaramond-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/opensans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/opensans/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/opensans/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
